body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 150px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: orangered;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    background-color: orangered;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
}

.header{
    background-color: lightcyan;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 500px;
}

/* about section */
main{
    max-width: 1150px;
    margin: 0 auto;
}
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: lemonchiffon;
    margin: 130px 0;
}
.section-title{
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.about-info{
    text-align: center;
}

.skill-container{
    display: flex;
    justify-content: space-between;
}
.skill{
    background-color: white;
    margin: 10px 20px;
    padding: 15px;
    border: 0;
    box-shadow: 5px 5px 10px lightsalmon;
}
.skill .skill-description{
    text-align: justify;
    color: #757575;
}


/* footer-section */

.footer-section{
    display: flex;
    background-color: lightyellow;
    margin-top: 130px;
    padding: 30px 130px;
    gap: 50px;
}
.footer-col{
    width: 50%;
}
.footer-headline{
    text-align: center;
    font-size: 30px;
    font-weight: 700px;
}
.footer-msg{
    color: #757575;
}
.footer-social a{
     margin-right: 30px;
}
.contact input,textarea{
    display: block;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px 10px;
    background-color: white;
    border: 0;
    box-shadow: 5px 5px 10px lightsalmon;
}
